# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.assets.json

# Others
*.cache
*.log
/E-Commerce_MVC/wwwroot/images/products/b9e1917e-c596-46db-866c-7a0f5d1da233.png
